.searchBtn {
  background-color: #6c7866;
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
}

.searchBtn:hover {
  background-color: #8b9686;
}

.nationalParkListContainer {
  width: 50%;
}

.weatherInfoContainer {
  width: 50%;
}

.park-list {
  border-radius: 10px;
  background-color: #ad7645;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 10px;
  padding: 2px;
  width: 100%;
}

.park-list:hover {
  background-color: #cf9059;
  color: black;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.weather-icon {
  height: 100px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0.76);
  border-radius: 10px;
  border: solid 2px rgb(118, 118, 118);
}

.park-photo {
  width: 45%;
}

.faveBtn {
  float: right;
}

.faveBtn i:hover {
  color: pink;
}

.favorite-park-container {
  height: 200px;
}
.faveItem {
  background-color: #6c7866;
  padding: 3px;
  border-radius: 5px;
  margin: 10px 5px 10px 5px;
}
